.vscode
build
msvc12/.vs/sdk/v15/.suo
msvc12/.vs/sdk/v15/Browse.VC.db
msvc12/.vs/sdk/v15/ipch/AutoPCH/5df1535b10d2211f/SMSDK_EXT.ipch
msvc12/.vs/sdk/v15/ipch/AutoPCH/819945acf3c1f71d/JSON_NATIVES.ipch
msvc12/.vs/sdk/v15/ipch/AutoPCH/b60e82c34478219/EXTENSION.ipch
msvc12/.vs/sdk/v15/ipch/AutoPCH/d0bd88ef278089cb/IJSONUS.ipch
msvc12/Debug/extension.obj
msvc12/Debug/json_natives.obj
msvc12/Debug/jsonus.ext.dll
msvc12/Debug/jsonus.ext.exp
msvc12/Debug/jsonus.ext.ilk
msvc12/Debug/jsonus.ext.lib
msvc12/Debug/jsonus.ext.pdb
msvc12/Debug/Jsonus.obj
msvc12/Debug/sdk.log
msvc12/Debug/smsdk_ext.obj
msvc12/Debug/vc141.idb
msvc12/Debug/vc141.pdb
msvc12/Debug/sdk.tlog/CL.command.1.tlog
msvc12/Debug/sdk.tlog/CL.read.1.tlog
msvc12/Debug/sdk.tlog/CL.write.1.tlog
msvc12/Debug/sdk.tlog/link.command.1.tlog
msvc12/Debug/sdk.tlog/link.read.1.tlog
msvc12/Debug/sdk.tlog/link.write.1.tlog
msvc12/Debug/sdk.tlog/sdk.lastbuildstate
msvc12/Debug/sdk.tlog/sdk.write.1u.tlog
.vs/sdk/v15/.suo
.vs/sdk/v15/Browse.VC.db
